@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'FormulaCondensedBold';
  src: url('../app/fonts/FormulaCondensed-Bold.otf'),
}

@font-face {
  font-family: 'FormulaCondensedLight';
  src: url('../app/fonts/FormulaCondensed-Light.otf'),
}

@font-face {
  font-family: 'DepartureMono';
  src: url('../app/fonts/DepartureMono-Regular.woff'),
       url('../app/fonts/DepartureMono-Regular.woff2'),
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: FormulaCondensed ,Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pageContainer{
  @apply flex min-h-screen min-w-full
}

